$success-color: rgba(28, 125, 65, 1);
$success-color-hover: rgb(26, 115, 60);

$error-color: rgba(144, 11, 9, 1);
$error-color-hover: rgb(137, 11, 9);

$default-color: rgba(112, 119, 134, 1);
$input-color: rgba(245, 246, 246, 1);
